.button{
    margin-top: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #D98494;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    margin-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button.blue{
    background-color: #84D9D9;;
}

button.green{
    background-color: #13CE66;
}

button.pink{
    background-color: #D98494;
}

.button:hover{
    background: #84D9D9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* 
Deixa responsivo para outras mídias */
@media(max-width:480px){
    .button.mobile{
        color:transparent;
        font-size:0;
        width:50px;
        height:50px;
        border-radius: 50%;
        position:fixed;
        top: 90vh;
        left: 80vw;
    }
    .button.mobile::before{
        content: "+";
        color:black;
        font-size:2rem;
        width:100%;
        height:100%;
    }
}