@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background: linear-gradient(90deg, rgba(217,132,148,1) 0%, rgba(217,132,148,1) 32%, rgba(132,217,217,1) 97%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif;
    position:relative;
}

header{
    background-color: #ffff;
    height: 130px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header img{
    height: 10vw;
    width: 20vw;
}

main{
    background-color: #ffff;
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 20px;
    
}

footer{
    width:100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
}

/* código para deixar responsivo */

@media (max-width:480px){
    header{
        position:fixed;
        width:100%;
    }
    .header-title{
        font-size: 1.5rem;
    }

    main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
}