

  /* bunner 1 */

  
.container-bunner {
  background-image: url(../assets/imgs/bunner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  width: 100%;
  height: 100vh;

}

  .texto-b{
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 65px;
  }



  .texto-b p{
    width: 500px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
   

  }

  .titulo h1{
   color: #D98494;
   font-family: 'Pacifico', cursive;
   font-size: 5.5rem;
   text-shadow: 4px 4px black;
  }

  .titulo h1{
    display: flex;
    margin-bottom: 20px;
  }

  .texto-b img{
    padding-bottom: 20px;
    margin-left: 10px;
  }




/* bunner2 */

.container-bunner-second-image{
  background-image: url(../assets/imgs/bunner2.jpg);
  margin-bottom: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 20px;
 text-align: justify;

  
}




.card-nossa-historia{
  background-color: #ffff;
  border-radius: 20px;
  height: 70vh;
  width: 50vw;
  margin-left: 90vh;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.texto-bunner-second h1{

  color: #D98494;
  font-size: 5.5rem;
  text-shadow: 4px 4px black;
  margin-bottom: 5vh;
}

.texto-bunner-second p{
  width: 400px;
  color: black;
  margin-bottom: 10vh;
  font-weight: 700;
 
}

/* .container-bunner-third{
  background-image: url(../assets/white-cat-lies-on-woman-s-knees.jpg);
  width: 100%;
  height: 100vh ;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 15vh;
  margin-bottom: 10vh;
} */

.container-bunner-third video{
width: 100%;
height: 100vh;
background-color: #D98494;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top: 20vh;
margin-bottom: 10vh;
}

/* cards iniciais  */

.titulo-nosso-blog{
display: flex;
justify-content: center;
align-items: center;
margin: 10vh;
border-bottom: #84D9D9 3px solid;


}

.titulo-nosso-blog h1{
  color: #D98494;
   font-family: 'Pacifico', cursive;
   font-size: 50px;
   text-shadow: 4px 4px black;
}

.container-cards-blog{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.cards-blog{
  border: 2px solid #D98494;
  width: 25vw;
  height: 80vh;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;

  
}
.cards-blog img{
  border-radius: 10px;
  width: 100%;
  height: 40vh; 
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cards-blog img:hover{
  opacity: 0.5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.cards-blog h1{
  color: #D98494;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.cards-blog p{
  margin-bottom: 4vh;
  
}

/* cards */

.caixa{
  width: 60%;
  height: 150px;
  border: #D98494 4px solid;
  border-radius: 10px;
  background-color: #ffff;
  margin-bottom: 4vw; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  
}


.firts{
  margin-left: 10vw;
}
.second{
  margin-left: 20vw;
}


.third{
  margin-left: 30vw;
}

/* .itens-card{
  display: inline-block;
  
} */

.itens-card{
  display: inline-block;
  justify-content: space-between;
  flex-direction: row;
  margin: 30px;

}

.itens-card img{
  position: absolute;
  height: 60px;
  width: 60px;
  margin: 10px 10px;
  

  
}

.itens-card p{
  margin-inline-start: 80px;
  text-align: justify;
}

.texto-cards{
  margin-left: 10vw;
  width: 55vw;
  margin-bottom: 10vh;
  
}

.texto-cards h1{
  
  color: #D98494;
  margin-bottom: 5vh;
  
}

.btn-cards{
  margin-left: 130vh;
}

/* gráfico analytics */

.analytics{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;

}

.analytics .texto-a h1{
color: #D98494;
font-weight: bold;
margin-top: 5vh;
margin-bottom: 5vh;

}

.analytics .texto-a p{
  width: 550px;
  text-align: justify;
}

.analytics .texto-a b{
color: #D98494;
font-weight: bold;
margin-bottom: 5vh;
}

#myChart{
  height: 60vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  
}

/* #quiz */

main {
  width: 100%;
  height: 100%;
  padding: 1rem; /* espacamento interno */
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 1.75rem;
  margin: 0.625rem;
}

.centro {
  text-align: center;
}

.questao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#numQuestao {
  display: block;
  background: #00b0ff;
  padding: 4px 10px 2px 10px;
  border-radius: 50%;
}

#pergunta {
  margin-left: 1rem;
}

/* article que acomoda a questao completa */
.questoes {
  padding: 1.5rem;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.questoes ol li {
  display: block;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.questoes ol li:hover {
  background: #00b0ff;
  cursor: pointer;
}

.bloqueado {
  display: none;
}

.bloqueado li:hover {
  display: none;
}

#instrucoes {
  background: #ccc;
  color: #191919;
  padding: 0.625rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  animation: piscar .75s infinite alternate;
}

#aviso {
  color: #00b0ff;
}

/* ANIMACAO */

/* Animar o input */
@keyframes piscar {
  0% {
      filter: drop-shadow(0 0 15px #00b0ff);
      -webkit-filter: drop-shadow(0 0 15px #00b0ff);
      -moz-filter: drop-shadow(0 0 15px #00b0ff);
      -o-filter: drop-shadow(0 0 15px #00b0ff);
      -ms-filter: drop-shadow(0 0 15px #00b0ff);
  }
  100% {
  }
}

.animar {
  animation: piscar .75s infinite alternate;
}

.aparecer {
  animation: aparecer .5s infinite alternate;
}

@keyframes aparecer {
  0% {
      opacity: 0
  }
  100% {
      opacity: 1
  }
}

  
