
  body{
    background: rgb(217,132,148);
    background: linear-gradient(90deg, rgba(217,132,148,1) 0%, rgba(217,132,148,1) 32%, rgba(132,217,217,1) 97%, rgba(0,212,255,1) 100%);
  }

  .container-forms{
      display: flex;
      justify-content: center;
  }

  .formulario{
    background-color: #ffffff;
    padding: 30px 90px 0px 80px;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .formulario input{
    padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #2C3E50;
	font-size: 13px;
  }

  input:hover, select:hover {
    border-bottom: #D98494 3px solid;
  }

  input:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


  .formulario button{
    margin-top: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #D98494;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    margin-bottom: 5vh;
  }

  .formulario img{
      width: 18vw;
      height: 30vh;
  }

  .formulario button:hover{
    background: #84D9D9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .formulario h1{
      color: #D98494;
      font-weight: bold;
  }


  .formulario label{
    color: #D98494;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .formulario a{
    text-decoration: none;
    color: #848484;
    
  }
  .campo{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2vh;
  }

  /* Footer */
footer img{

    height: 10vw;
    width: 20vw;
  }
  
  footer{
    margin-top: 200px;
    border-bottom: #D98494 10px solid;
    -webkit-box-shadow: 0px 0px 8px 2px #BBBAB8; 
    background-color: #ffff;
    padding: 20px;
  }
  
  .navegacao-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   
  }
  
  .navegacao-footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: 65px 0;
  }
  
  .navegacao-footer ul li{
    margin-right: 30px;
  }
  
  .navegacao-footer ul li a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
  }
  
  .navegacao-footer ul li a:hover{
    color: #D98494;
    font-weight: bold;
  }
  
  .navegacao-footer p{
    color:  #BBBAB8;;
  }
  
  .redes-footer img:nth-child(1){
    margin-right: 20px; 
  } 
  
  .redes-footer img{
    width: 50px;
    height: 50px;
    cursor: pointer;
  } 