body{
    background: linear-gradient(90deg, rgba(217,132,148,1) 0%, rgba(217,132,148,1) 32%, rgba(132,217,217,1) 97%, rgba(0,212,255,1) 100%);
}

.container-conteudo{
    padding: 50vh 0vw;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10vh 5vh;
  

}

.section-sobre-nos{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5vh;
    background-color: #ffff;
    margin-top: 10vh;
    
}
.section-sobre-nos img{
    position: absolute;
    margin-left: 5vh;
    width: 330px;
    height: 330px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 10px white solid;
}

.section-sobre-nos img:hover{
    width: 400px;
    height: 400px;
    cursor: pointer;
}
.section-sobre-nos h1{
color: #D98494;
margin:5vh;
margin-left: 30vw;
border-bottom: #D98494 3px solid;
}

.section-sobre-nos p{
width: 50vw;
margin:5vh;
margin-left: 30vw;
text-align: justify;

}

.chico{
    margin-bottom: 20vh;
}

.sobre-mim{
    margin-bottom: 45vh;

}

.sobre-mim a{
    text-decoration: none;
    color: #D98494;
}

.container-galeria{
    display: flex;
   
}

.container-galeria img{
    width: 340px;
    height: 340px;
}
