body{
background: rgb(217,132,148);
background: linear-gradient(90deg, rgba(217,132,148,1) 35%, rgba(0,198,255,1) 100%, rgba(217,132,148,1) 100%);
font-family: roboto;
}

header{
    
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 4em;
    border-radius: 0.5em;
    height: 20vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 .container-main{
display: flex;
justify-content: center;
background-color:red;
height: 100vh;

margin-left: 5em;
margin-right: 5em;
margin-top: 4em;
height: 90%;
border-radius: 0.5em;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

/* } */

/* .formulario{
  
    background-color: #ffffff;
    height: 100vh;
    padding: 30px 90px 0px 80px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
  
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  } */

  form{
    background-color: #ffffff;
    padding: 30px 90px 0px 80px;
    height: 100vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
h1{
    margin-top: 5vh;
    margin-bottom: 5vh;
} 

 input{
    padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #2C3E50;
	font-size: 13px;
  }

   textarea{
    width: 100%;
    border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
  }

  input:hover, select:hover {
    border-bottom: #D98494 3px solid;
  }

  input:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


   button{
    margin-top: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #D98494;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    margin-bottom: 10vh;
  }

  /* .formulario img{
      width: 18vw;
      height: 35vh;
  } */
.div-form{
  
  background-image: url(../assets/274725.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 30px 90px 0px 80px;
  /* padding: 5em;
  height: 100vh; */
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 margin-top: 20vh;
  margin-bottom: 20vh;
  border-top: 5px solid #D98494;

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
  .formulario button:hover{
    background: #84D9D9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

   h1{
      color: #D98494;
      font-weight: bold;
      margin-bottom: 15px;
  }


  .campo label{
    color: #D98494;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

   a{
    text-decoration: none;
    color: #848484;
    
  }
  .campo{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2vh;
  }
  /* .resultado{
    height: 10px;
    background-color: #ffffff;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 5em;
    margin-right: 5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */


